        <link rel="stylesheet" href="/404/style.css">
        <!-- START 404 -->
        <div id="home" class="hompage-slides-wrapper particle-bg">
            <!-- PARTICLE BACKGROUND -->
            <div id="particles"></div>
            <!-- END PARTICLE BACKGROUND -->

            <div class="homepage-slides owl-carousel">
                <div class="single-slider-item ">
                    <div class="slide-item-table">
                        <div class="slide-item-tablecell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="slider-text">
                                            <h1 id="title">404</h1>
                                            <p id="detail">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                        </div>
                                    </div><!-- END COL -->
                                </div><!-- END ROW -->
                            </div><!-- END CONTAINER -->
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- END 404 -->