<%- include ("./partials/messages") %>
<form action="/dashboard/login" method="POST">
<input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"/>
<input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
<button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
<br>
<a href="/dashboard/register">Register</a>